*{
    box-sizing: border-box;
}
div, h1,span {
    display: block;
}
h1 {
    font-family: Nickainley;
}
html {
    scroll-behavior: smooth;
  }
@font-face {
    font-family: Nickainley;
    src: url("../font/Nickainley-Normal.otf") format("opentype");
}

@font-face {
    font-family: Nickainley;
    font-weight: bold;
    src: url("../font/Nickainley-Normal.otf") format("opentype");
}
body {
    max-width: 1080px;
    margin: auto;
}
img {
    max-width: 100%;
    height: auto;
}
/* The navigation bar */

nav {
    overflow: hidden;
    background: #0000004d; /* Green background with 30% opacity */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    max-width: 1080px;
    z-index: 1;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  /* Links inside the navbar */
  nav a {
    float: left;
    display: block;
    color: black;
    text-shadow: 1px 1px 14px wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
  }

.spacer
  {   
      display: none;
      width: 100%;
      height: 38px;
  }

.first {
    
    text-align: center;
    background-image: url('../img/img1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /* padding: 89px 15px; */
    position: relative;

}

div.first h1 {
        
    padding: 0;
    margin: 0;
    font-size:10vw;
    text-shadow: 1px 1px 14px wheat;
    color: black;
    position: absolute;
    bottom: 10px;
}
br.responsive {
    display: none;
  }


div.second {
    
    background-color: #FD8E76;  
}

div.lovestory{
    padding: 15px;    
    text-align: center;
    font-size: 1.5em;
    margin: auto 0;
}


ul{
    list-style-type: none;
    padding: 0;
}



/* break points */
@media screen and (min-width:800px) {

    nav {
        display: flex;
    }
    
    .first {
        height: 600px;
    }
    .first h1 {
        top: 60px;
        right: 7px;
    }
    br.responsive {
        display: inline;
    }
    div.second {
        display: flex;
        height: 50vw;
        max-height: 543px;
    }

    div.lovestory{
        width: 40%;
    }
    .second img {
        display: none;
    }
    .responsivepic {
        
        width: 60%;
    }

    .responsivepic {
        background-image: url('../img/img2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }


}

@media screen and (min-width:1080px) {
    .first h1{
        font-size: 108px!important;
    }
}