*{
    box-sizing: border-box;
}
div, h1,span {
    display: block;
}
h1 {
    font-family: Nickainley;
}
html {
    scroll-behavior: smooth;
  }
@font-face {
    font-family: Nickainley;
    src: url("../font/Nickainley-Normal.otf") format("opentype");
}

@font-face {
    font-family: Nickainley;
    font-weight: bold;
    src: url("../font/Nickainley-Normal.otf") format("opentype");
}
/* HeyGotcha-Regular.otf */
@font-face {
    font-family: HeyGotcha;
    font-weight: bold;
    src: url("../font/HeyGotcha-Regular.otf") format("opentype");
}


body {
    max-width: 1900px;
    margin: auto;
}
img {
    max-width: 100%;
    height: auto;
}


.responsivepic {
        
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* The navigation bar */

nav {
    overflow: hidden;
    background: #0000004d; /* Green background with 30% opacity */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    max-width: 1900px;
    z-index: 1;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  /* Links inside the navbar */
  nav a {
    float: left;
    display: block;
    color: black;
    text-shadow: 1px 1px 14px wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
  }

.spacer
  {   
      display: none;
      width: 100%;
      height: 38px;
  }

.first {
    
    text-align: center;
    background-image: url('../img/img1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /* padding: 89px 15px; */
    position: relative;

}

div.first h1 {
        
    padding: 0 0 0 15px;
    margin: 0;
    font-size:10vw;
    text-shadow: 1px 1px 14px wheat;
    color: black;
    position: absolute;
    bottom: 10px;
    display: flex;
}
br.responsive {
    display: none;
  }


div.second {
    
    background-color: #FD8E76;  
}

div.lovestory{
    padding: 15px;    
    text-align: center;
    font-size: 1.5em;
    margin: auto 0;
    font-family: HeyGotcha;
    color: #004AAD;
}

.lovestory li:nth-child(even){
    font-size: large;
    padding: 0 0 11px 0;
}

.lovestory li:nth-child(odd){
    padding: 0 0 2px 0;
}
.third {
    font-family: HeyGotcha;
    text-align: center;
    background-image: url('../img/img3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /* padding: 89px 15px; */
    position: relative;
    display: flex;
}
.third h1 {
    font-family: HeyGotcha;
    font-size: 2em
}

.third h2 {
    font-size: 2em;
    font-weight: bold;
}

.third p {
    font-size: ;
}

.third .celebration {
    margin: auto;
    max-width: 300px;
    text-shadow: 1px 1px 14px wheat;
}


.fourth{
    background-color: #FFBD59;
}


ul{
    list-style-type: none;
    padding: 0;
}



/* break points */
@media screen and (min-width:800px) {

    nav {
        display: flex;
    }
    
    .first {
        height: 650px;
    }
    .first h1 {
        top: 60px;
        right: 7px;
    }
    br.responsive {
        display: inline;
    }
    div.second,.fourth, .fifth {
        display: flex;
        height: 50vw;
        max-height: 994px;
    }

    div.lovestory{
        width: 40%;
    }
    .second img, .fourth img, .fifth img {
        display: none;
    }

    .third {
       height: 700px;
    }

    .responsivepic {
        
        width: 60%;
    }
    .second .responsivepic {
      background-image: url('../img/img2.jpg');
    }

    .fourth .responsivepic {
        background-image: url('../img/img4.jpg');
    }

    .fifth .responsivepic {
        background-image: url('../img/img5.jpg')
    }

}

@media screen and (min-width:1080px) {
    .first h1{
        font-size: 108px!important;
    }
}