*{
    box-sizing: border-box;
}
div, h1 {
    display: block;
}
h1 {
    font-family: Nickainley;
}
@font-face {
    font-family: Nickainley;
    src: url("../font/Nickainley-Normal.otf") format("opentype");
}

@font-face {
    font-family: Nickainley;
    font-weight: bold;
    src: url("../font/Nickainley-Normal.otf") format("opentype");
}

img {
    max-width: 100%;
    height: auto;
}

div.first {
    
    
}
div.first h1 {
        
    padding: 0;
    margin: 0;
    font-size:10vw;
    text-shadow: 1px 1px 14px wheat;
    color: black;
    position: absolute;
    bottom: 10px;
}

.first {
    text-align: center;
    background-image: url('../img/img1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 89px 15px;
    position: relative;
}
div.second {
    
    background-color: #FD8E76;  
}

div.lovestory{
    padding: 15px;    
    text-align: center;
    font-size: 1.5em;
    margin: auto 0;
}

ul{
    list-style-type: none;
    padding: 0;
    

}

/* break points */
@media screen and (min-width:670px) {


.first {
    height: 700px;
}

    div.second {
    display: flex;
}

div.lovestory{
    width: 40%;
}
div.second img {
    display: block;
    width: 60%;
}


}